body {
    background-image: url("owls.jpeg");
    background-size: 40%;
    direction: rtl;
    user-select: none;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    position: relative;
    top: 120px;
    width: 600px;
    height: 300px;
    background-color: #e2d7c7;
    border-radius: 15px;
}

#next {
    border: black 4px solid;
    padding: 10px;
    margin: 10px;
    width: 100px;
    /*להוסיף רווח מלמטה, לעצב מחדש את הכפתור שיהיה יפה*/
}

