body {
    background-image: url("owls.jpeg");
    background-size: 40%;
    direction: rtl;
    user-select: none;
    font-family: 'Varela Round', sans-serif;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    position: relative;
    top: 120px;
    max-width: 600px;
    min-height: 50vh;
    background-color: #e2d7c7;
    border-radius: 15px;
    overflow: auto;
}

#next {
    background-color: #d3bb9a;
  /*  border: #c0a17d 1px solid; */
   /* border-radius: 10px; */
    padding: 10px;
    margin: 17px;
    width: 100px;
    color: #f0ebe6;
    font-size: 1.06em;
    box-shadow: 2px 2px 0px 0px #C0A17D;
    
    /*להוסיף רווח מלמטה, לעצב מחדש את הכפתור שיהיה יפה*/
}

@media screen and (max-width: 700px) {
    body {
        background-size: 70%;
    }
}